/* ナビゲーションメニュー */
.nav-menu {
  color: #fff; /* メニューテキストの色 */
}

.menu-list {
  display: flex;
  justify-content: space-around; /* メニューアイテムを中央揃えに */
  font-size: 12px;
  align-items: center;
  list-style: none;
  text-decoration: none;

}

.menu-item {
  border-left: 1px solid #cccccc;
  margin: 0 4px;
  position: relative;
  transition: background-color .3s; /* 背景色の変化をアニメーション化 */
}

.menu-item img{
  width: 20px;
  width: 20px;
  margin: 0 7px;
}

.menu-item a:hover{
  opacity: 0.7;
}

.menu-item:first-child{
border-left: none;
}

/* メニューアイテムのホバースタイル */
.menu-item:hover .drop-menu-list {
  transform: scaleY(1); /* ドロップダウンメニューの表示 */
}

.menu-item:hover {
  transition: background-color .3s; /* 背景色の変化をアニメーション化 */
}

.drop-menu-item:hover {
  opacity: .8; /* ドロップダウンメニューアイテムのホバー時の不透明度 */
  transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
}

.menu-item a {
  align-items: center;
  color: #666; /* メニューアイテム内のリンクテキストの色 */
  display: flex;
  height: 15px;
  text-decoration: none; /* リンクの下線を非表示 */
  width: 100%;
  font-size: 12px;
}

/* ドロップダウンメニュー */
.drop-menu {
  position: relative;
}

.drop-menu-list {
  background-color: white;
  left: 0;
  position: absolute;
  top: 252%;
  transform: scaleY(0);/* ドロップダウンメニューの非表示 */
  transform-origin: center top; /* 変形を適応する基準を設定 */
  transition: transform .6s; /* 表示の変化をアニメーション化 */
  width: 170px;
  z-index: 1;
  padding: 0 10%;
  text-align: center;
}

.drop-menu-list:first-child{
  border-left: none;
}

.drop-menu-item {
  transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
  border-bottom: solid 0.2px #5d7dbf;
  padding: 0 2%;
  justify-content: center;
  line-height: 1.3;
}



.drop-menu-item:last-child{
  border-bottom: none;
}

.drop-menu-item a {
  align-items: center;
  color: #666; /* メニューアイテム内のリンクテキストの色 */
  display: flex;
  justify-content: center;
  text-decoration: none; /* リンクの下線を非表示 */
  border-left: 0 solid #cccccc; /* メニューアイテムの左ボーダー */
  color: #5d7dbf;
  padding: 22% 0;
}

/* right */
.p-nav__rightContainer{
  line-height: 10px;
  text-align: right;
}

.p-nav__rightContainer a:hover{
  opacity: 0.7;
}

.p-nav__rightTop{
  display: flex;
  list-style: none;
  margin-bottom: 5px;

}

.p-nav__rightTop li{
  padding-right: 2px;
  text-decoration: none;
  cursor:pointer;
  margin-left: 5px;
}

.p-nav__rightTop li:hover .p-nav__rightSub {
  transform: scaleY(1); /* ドロップダウンメニューの表示 */
}

.p-nav__rightTop a{
  align-items: center;
}

.p-nav__rightTop li:hover{
  background-color: #dcdcdc;
}

.p-nav__rightTop p{
  font-size: 12px;
  margin-left: 3px;
}

.p-nav__rightTop a{
  display: flex;
  color: #666;
  text-decoration-line: none;
}

.p-nav__rightTopIcon{
  width: 15px;
  width: 15px;
}

.p-nav__dropdownIcon{
  width: 6px;
  height: 6px;
  margin-left: 5px;
}

.p-nav__search{
  border-left: solid 1px #cccccc;
  padding-left: 8px;
}

.p-nav__rightBottom a{
  font-size: 12px;
  color: #666;
  text-decoration-line: none;
}

.p-nav__rightBottom > a > img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* navの動きに関係するCSS ドロップダウンメニュー用のCSS */
.p-nav__rightSub{
  list-style: none;
  background-color: #dcdcdc;
  padding: 8px 0;
  position: absolute;/*subメニューを消す*/
  transform: scaleY(0); /* ドロップダウンメニューの非表示 */
  transform-origin: center top; /* 変形を適応する基準を設定 */
  transition: transform .3s; /* 表示の変化をアニメーション化 */
}

.p-nav__rightSub li{
  width: 60px;
  text-align: center;
  align-items: center;
  background-color: #dcdcdc;
  color: #5d7dbf;
  border-left: none;
}

.p-nav__rightSub a{
  padding: 5px 0;
  font-size: 12px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-left: none;
}

.p-nav__rightSub li:hover{
  opacity: 0.7;
  background-color: #dcdcdc;
}

.p-nav__rightSub img{
  width: 35px;
  height: 35px;
}

.p-nav__rightTop li .open {
  display: block;
}
