/* PC style */
/* @media screen and (min-width: 769px) { */
@media screen and (min-width: 641px) {
.p-openhourSP{
  display: none;
}

.p-openhour{
  position: absolute;
  right: 5%;
  bottom: 3.5%;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.p-openhour li{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #5471ad;
}

.p-openhour li:last-child{
  margin-bottom: 0;
}

.p-openhour a{
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.p-openhour__title img{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.p-openhour__title{
  border-bottom: 1px solid #5471ad;
  padding: 5px;
  font-size: 15px;
}

.p-openhour__time{
  font-size: 23px;
}

.p-openhour__guide{
  font-size: 12px;
  font-weight: normal;
}

.p-openhour__buttonPink{
  position: relative;
  padding: 10px;
  background-color: #fea8a8;
  /* color: white; */
}

.p-openhour__buttonPink:hover{
  opacity: 0.7;
}

.p-openhour__button{
  /* position: relative; */
  padding: 10px;
  background-color: #5471ad;
}

.p-openhour__button:hover{
  opacity: 0.7;
}

.p-openhour__button a{
  position: relative;
  color: white;
  font-size: 12px;
}

.p-openhour__buttonPink a{
  position: relative;
  color: white;
  font-size: 12px;
}

.p-openhour__button a > img{
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}

.p-openhour__buttonPink a > img{
  position: absolute;
  /* top: 10px; */
  top: 45%;
  right: 0;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}

/* .p-openhour__button::after{
background-color: white;
color: #5471ad;
content: "→";
position: absolute;
top: 30%;
right: 10px;
border-radius: 50%;
font-weight: bold 3px;
} */

}

/* SP style */
/* @media screen and (max-width: 768px){ */
  @media screen and (max-width: 640px){
  .p-openhour{
    display: none;
  }

  .p-openhourSP{
    padding: 3%;
    background-color: #dfe0e0;
  }

  .p-openhourSP__cover{
    position: relative;
    padding: 3.1vw;
    /* margin-top: -25vw; */
    margin-top: -25%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .p-openhourSP__cover div{
    padding: 3.2vw;
    padding-left: 11vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  
  .p-openhourSP li{
    font-weight: bold;
    color: #5d7dbf;
  }
  
  .p-openhourSP li:last-child{
    margin-bottom: 0;
  }
  
  .p-openhourSP a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }

  .p-openhourSP__title{
    padding: 5px;
  }
  
  .p-openhourSP__title img{
    width: 6.25vw;
    height: 6.25vw;
    margin-right: 5px;
    position: absolute;
    left: 10px;
  }

  .p-openhourSP__title > strong{
    font-size: 4vw;
  }
  
  .p-openhourSP__time{
    /* font-size: 25px; */
    font-size: 5vw;
  }
  
  .p-openhourSP__guide{
    font-size: 2.7vw;
    /* font-size: 12px; */
    font-weight: normal;
    margin-top: 0.5em;
  }

  .p-openhourSP__buttonPink{
    position: relative;
    padding: 5vw 0.5em;
    margin-top: 10px;
    background-color: #fea8a8;
    color:inherit;
    text-align: center;
  }

  /* .p-openhourSP__buttonPink p{
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-size: 90%;
  } */
  
  .p-openhourSP__button{
    position: relative;
    padding: 4.6vw 0.5em;
    margin-top: 10px;
    background-color: #5471ad;
    text-align: center;
  }

  /* .p-openhourSP__button p{
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 60%;
  } */

  .p-openhourSP__buttonTitle{
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-size: 3.5vw;
  }

  .p-openhourSP__button:hover{
    opacity: 0.7;
  }
  
  /* .p-openhourSP__button::after{
    background-color: white;
    color: #5471ad;
    content: "→";
    position: absolute;
    top: 35%;
    right: 20px;
    border-radius: 50%;
    font-size: 3.3vw;
    font-weight: bold ;
  } */
  
  .p-openhourSP__button a{
    color: white;

    font-weight: bold;
    text-decoration: none;
  }

  .p-openhourSP__buttonPink a{
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .p-openhourSP__buttonPink a > img{
    position: absolute;
    /* right: 15px; */
    right: 7%;
    bottom: 40%;
    margin-left: 10px;
    /* width: 15px; */
    /* height: 15px; */
    width: 4vw;
    height: 4vw;
    transform: rotate(-90deg);
  }

  .p-openhourSP__button a > img{
    position: absolute;
    /* right: 15px; */
    right: 7%;
    bottom: 40%;
    margin-left: 10px;
    /* width: 15px; */
    /* height: 15px; */
    width: 4vw;
    height: 4vw;
    transform: rotate(-90deg);
  }
}
